<div class="main-container form-group">
    <label for="clipName">Clip Name</label>
    <input class="form-control clip-name" id="clipName" aria-describedby="clipName" maxlength="25" value={{{name}}}>
    <label class="clip-body-label" for="clipBody">Clip Contents</label>
    <textarea class="form-control" id="clipBody" rows="3">{{{clip}}}</textarea>
    <button type="button" class="create-button btn btn-primary" onclick="submit();">Create</button>
</div>